<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The One-Ion</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>Welcome to the One-Ion</h1>
    <div class="mode-select">
      <button id="standard-mode-btn", onclick="switchMode('standard-mode')">Standard Mode</button>
      <button id="daily-mode-btn", onclick="switchMode('daily-mode')">Daily Challenge</button>
      <button id="statistic-mode-btn", onclick="switchMode('statistic-mode')">Statistic Mode</button>
    </div>
    <div class="grid-container">
      <div id="timer">
        Timer Placeholder i have no idea how GameLogic is called
      </div>
      <div id="standard-mode" class="mode">Standard Mode
        <div class="vertical-box">
          <div class="article-title">
            {{ article[0] }}
          </div>

          <div class="article-content">
            {{ article[1] }}
          </div>
          <div class="button_container">
            <button class="button" button-type="Real">Real</button><button
              class="button" button-type="Fake">Fake</button><button
              class="button" button-type="Onion">Onion</button>
          </div>
        </div>
      </div>
      <div id="daily-mode" class="mode hidden">Daily Mode
        <div class="vertical-box">
          <div class="article-title">
            {{ article[0] }}
          </div>

          <div class="article-content">
            {{ article[1] }}
            <br>
            {{ article[2] }}

          </div>
          <div class="button_container">
            <button class="button" button-type="Real">Real</button><button
              class="button" button-type="Fake">Fake</button><button
              class="button" button-type="Onion">Onion</button>
          </div>

        </div>
      </div>
      <div id="statistic-mode" class="mode hidden">Statistic Mode
        <div class="vertical-box">
          <div class="article-title">
            {{ statistic[0] }}
          </div>

          <!-- <div class="article-content">
            {{ statistic[1] }}
            <br>
            {{ statistic[2] }}

          </div> -->
          <div class="button_container">
            <button class="button" button-type="Real">Real</button>
            <button class="button" button-type="Fake">Fake</button>
          </div>
        </div>
      </div>

      <!-- <p class="debug"> DEBUG </p> -->
    </div>

    <button class="signin-button" onclick="toggleSigninWindow()">
      {{ User[0] }}
    </button>

    <div class="signin-window" id="signinWindow">
      <form action="#" method="POST">
        <div class="account-content">
          <h2>Hello {{ User[0] }}</h2>
          <p> Score : {{ User[1] }}</p>
          <p> Best Score : {{ User[2] }}</p>
          <p> Streak : {{ User[3] }}</p>

          <!-- Dont know what to do with leaderboard yet gimme a sec -->
          <br>

          <div class="leaderboard">
            <h5> leaderboard </h5>
            {% for entry in User[4] %}
            <p>
              {{ entry[0] }} - {{ entry [1] }} {{ entry[2] }}
            </p>
            {% endfor %}
          </div>
          <br>
        </div>
        <div class="button-container">
          <button type="submit" class="signin-btn" name="action"
            value="logout">Log Out</button>
          <button type="submit" class="signup-btn" name="action"
            value="delete account">Delete Account</button>
        </div>
      </form>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
      <h2>You Lose !! </h2>
      <p>This is a simple popup!</p>
      <button id="close-popup-btn">Close</button>
    </div>
    <div class="popup" id="forcesignin">
      <p>You need to sign in to continue.</p>
      <a href="{{ url_for('signin') }}">
        <button>Sign In</button>
      </a>
    </div>
    <div class="popup" id="deleteconfirm">
      <p>Are you sure you want to delete your account?</p>
      <button id="deleteconfirmbtn" name="action"
        value="delete account post">Yes</button>
      <button id="close-popup-btn">No</button>
    </div>

    <script>
      window.loggedIn = {{ logged_in | tojson }};
    </script>
    <script src="../static/script.js"></script>
  </body>
</html>
