<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The One-Ion</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>The One-Ion!</h1>
    <p>Made by Anda, Rithwik, Sinan, and Vivek.</p>
    <div class="mode-container">
      <button class="mode-box standard-mode" onclick="switchMode('standard-mode')">Classic Challenge</button>
      <button class="mode-box daily-challenge" onclick="switchMode('daily-mode')">Daily Challenge</button>
      <button class="mode-box statistic-mode" onclick="switchMode('statistic-mode')">Statistic Challenge</button>
      <div class="mode-box timer-box">Time Remaining: <span id="timer">60s</span></div>
      <button class="signin-button" onclick="toggleSigninWindow()">
        Score: {{ User[1] }} (Click for Settings)
      </button>
    </div>
    <div class="grid-container">

      <div id="standard-mode" class="mode">
        <div class="vertical-box">
          <div class="article-title">
            {{ article[0] }}
          </div>

          <div class="article-content">
            {{ article[1] }}
          </div>
        </div>
        
        <div class="button_container">
          <button class="button" button-type="Real">This article is real.</button><button
            class="button" button-type="Fake">This article is fake.</button><button
            class="button" button-type="Onion">This article is The Onion.</button>
        </div>
        <h2 class="mode-title">You are currently playing a Classic Challenge!</h2>
      </div>
      <div id="daily-mode" class="mode hidden">
        
        <div class="vertical-box">
          <div class="article-title">
            {{ article[0] }}
          </div>

          <div class="article-content">
            {{ article[1] }}
          </div>
        </div>
        <div class="button_container">
          <button class="button" button-type="Real">This article is real.</button><button
            class="button" button-type="Fake">This article is fake.</button><button
            class="button" button-type="Onion">This article is The Onion.</button>
        </div>
        <h2 class="mode-title">You are currently playing the Daily Challenge!</h2>
      </div>
      <div id="statistic-mode" class="mode hidden">
        
        <div class="vertical-box">
          <div class="article-title">
            {{ statistic[0] }}
          </div>

          <!-- <div class="article-content">
            {{ statistic[1] }}
            <br>
            {{ statistic[2] }}

          </div> -->
        </div>
        <div class="button_container">
          <button class="button" button-type="Real">Real</button>
          <button class="button" button-type="Fake">Fake</button>
        </div>
        <h2 class="mode-title">You are currently playing the Statistics Challenge!</h2>
      </div>

      <!-- <p class="debug"> DEBUG </p> -->
    </div>

    <div class="signin-window" id="signinWindow">
      <form action="#" method="POST">
        <div class="account-content">
          <h2>Hello, Player!</h2>
          <p class="normal-text"> You have a total score of {{ User[1] }} points.</p>
          <p class="normal-text"> Your best score in a single round is {{ User[2] }} points.</p>
          <p class="normal-text"> You currently have a {{ User[3] }} day streak.</p>

          <div class="leaderboard">
            <h5> Global Leaderboard </h5>
            {% for entry in User[4][0:5] %}
            <p class="normal-text">
              ({{ entry[0] }}) {{ entry[2] }} points - {{ entry [1] }}
            </p>
            {% endfor %}
          </div>
          <br>
        </div>
        <div class="button-container">
          <button type="submit" class="signin-btn" name="action"
            value="logout">Log Out</button>
          <button type="submit" class="signup-btn" name="action"
            value="delete account">Delete Account</button>
        </div>
      </form>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
      <h2></h2>
      <p class="popup-text">This article was from:</p>
      <p class="popup-text">{{ article[2] }}</p>
      <button id="close-popup-btn">Close</button>
    </div>
    <div class="popup" id="forcesignin">
      <p>You need to sign in to continue.</p>
      <a href="{{ url_for('signin') }}">
        <button>Sign In</button>
      </a>
    </div>
    <div class="popup" id="deleteconfirm">
      <p>Are you sure you want to delete your account?</p>
      <button id="deleteconfirmbtn" name="action"
        value="delete account post">Yes</button>
      <button id="close-popup-btn">No</button>
    </div>

    <script>
      window.loggedIn = {{ logged_in | tojson }};
    </script>

    <script src="../static/script.js"></script>
  </body>
</html>
