<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The One-Ion</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="middle-ground">
      <h1>Welcome to the One-Ion</h1>
      <p>A Game of Fake News on the Internet</p>
      <p>place holder text for rules or sth like that</p>
      <p>can be repruposed for the space to view articles</p>
      <p class="debug"> DEBUG </p>
    </div>

    <button class="signin-button" onclick="toggleSigninWindow()">
      Sign In
    </button>

    <div class="signin-window" id="signinWindow">
      <form action="#" method="POST">
        <h2>Sign Out/Delete User</h2>
        <div class="button-container">
          <button type="submit" class="signin-btn" name="action" value="logout">Log Out</button>
          <button type="submit" class="signup-btn" name="action" value="delete account">Delete Account</button>
        </div>
      </form>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
