<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In - The One-Ion</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="signin-container">
      <h1 class="signin-text">Welcome to The One-Ion!</h1>
      <h2 class="signin-text">Sign In or Create an Account To Start
        Playing.</h2>
      <form class="input-container" action="{{ url_for('signin') }}"
        method="POST" onsubmit="loginHandler(event)">
        <input type="text" name="username" placeholder="Email or Username"
          required />
        <input type="password" name="password" placeholder="Password"
          required />
        <div class="button-container">
          <button class="log-in-button" type="submit" name="action"
            value="login">Log In</button>
          <button class="create-account-button" type="submit" name="action"
            value="create account">Create Account</button>
        </div>
      </form>
    </div>
    <div class="warning" id="invalidinput">
      <p>Invalid Email or Password.</p>
      <p> Please try again. </p>
    </div>
  </body>
  <script>
    window.attempted_ = {{ attempted | tojson }};
    document.addEventListener("DOMContentLoaded", function () {
    console.log("Now on:", window.location.pathname);
    if (window.attempted_) {
      document.getElementById("invalidinput").style.display = "block";
      console.log("pop triggered")
    }
    else {
      document.getElementById("invalidinput").style.display = "none";
      console.log("unpop triggered")
    }
    });
  </script>
  <script src="../static/script.js" defer></script>
</html>
